[submodule "home/.zprezto"]
	path = home/.zprezto
	url = https://github.com/yoccola/prezto.git
[submodule "home/.zsh.d/zsh-notify"]
	path = home/.zsh.d/zsh-notify
	url = https://github.com/marzocchi/zsh-notify
