"*":
  editor:
    invisibles: {}
    softWrap: true
    softWrapAtPreferredLineLength: true
    showIndentGuide: true
    fontSize: 14
    tabLength: 4
    preferredLineLength: 140
  core: {}
  "exception-reporting":
    userId: "90516ede-7f18-4ad0-2857-33f7e93b67a5"
  welcome:
    showOnStartup: false
  "restore-windows": {}
  "save-session":
    dataSaveFolder: "/Users/macbookair/.atom/packages/save-session/projects"
    windowX: 38
    windowY: 23
    windowWidth: 1362
    windowHeight: 814
